
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@200;300;400;500;600;800&display=swap");


html {
  @apply antialiased;
}

html,
body {
  @apply h-full;
  background-color: var(--color-secondary-dark);
}

html {
  font-size: 62.5%;
  scroll-behavior : smooth;
}
* {
  font-family: "Inter", sans-serif;
}

/* COLORS */
:root {
  --color-primary: #ffb900;
  --color-primary-light: #e9ce5d;
  --color-primary-dark: #c4981f8e;

  --color-secondary-light: #ffb900;
  --color-secondary-dark: #111122;
--color-transparent-dark :#0f0f23b3;
  --color-tertiary-light: #2998ff;
  --color-tertiary-dark: #5643fa;

  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;

  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;

  --color-white: #fff;
  --color-black: #000;
  --color-green: #008000;
  --pink: #da3466;
  --cherry: var(--pink);
  --purple: #7557fa;

  --base-animation-duration: 500ms;
  --base-animation-delay: 50ms;
  --step-animation-delay: 200ms;
  --animation-delay: 100ms;
  --padding-inline: 24px;
}

/* FONT */
:root {
  --default-font-size: 1.6rem;
}

/* GRID */
:root {
  --grid-width: 114rem;
  --gutter-vertical: 8rem;
  --gutter-horizontal: 6rem;
}


.custom-container {
  max-width: 950px;
  width: 95vw;
  margin: auto;
}
.btn-primary {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  background: #014e01;
  border: 1px groove white;

  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  padding: 9px 12px;
  border-radius: 8px;
}
.btn-primary:hover {
  background-color: rgb(218 52 102/1);
}





/* Navbar  */
.navigation__checkbox {
  display: none;
}

.navigation__button {
  height: 4rem;
  width: 4rem;
  background-color: var(--color-green);
  position: fixed;
  top: 4rem;
  right: 4rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(var(--color-black), 0.1);
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}

.navigation__button:hover {
  transform: scale(1.2);
}

.navigation__background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 4.5rem;
  right: 4.5rem;
  background: white;
  z-index: 1;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 100;
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: var(--color-black);
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    var(--color-black) 50%
  );
  background-size: 220%;
  transition: all 0.4s;
}

.navigation__link span {
  margin-right: 1.5rem;
  display: inline-block;
}

.navigation__link:link,
.navigation__link:visited {
  color: var(--color-black);
}

.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: var(--color-primary);
  transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(140);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 2rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 2rem;
  height: 2px;
  background-color: var(--color-grey-dark-3);
  display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -0.6rem;
}

.navigation__icon::after {
  top: 0.6rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -0.7rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 0.7rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}




.footer {
  width: 100%;
  padding-top: 150px;
  position: relative;
  overflow: hidden;
 
  background-image: url('/assets/images/footer.jpeg') !important;
  background-repeat : none ;
  
}
.card-hover-effect:hover {
  background: var(--card-hover-color) !important;
}
